# App
Port=:3004

# Database
DATABASE_HOST=postgreSql
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=noteplus
DATABASE_PORT=5432

#RabbitMQ Config
HOST=HOST
PORT=PORT
USERNAME=USERNAME
PASSWORD=PASSWORD