# App
Port=:3004
SERVER_MODE=false

# Database
DATABASE_HOST=postgreSql
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=noteplus
DATABASE_PORT=5432

#RabbitMQ Config
RABBIT_HOST=RABBIT_HOST
RABBIT_PORT=RABBIT_PORT
RABBIT_USERNAME=RABBIT_USERNAME
RABBIT_PASSWORD=RABBIT_PASSWORD